<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="padding: 100px">
<form action="" class="form-inline" method="post">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Ingrese Path</div>
        </div>
        <input type="text" class="form-control"  required="required" id="uri" name="uri" placeholder="/usr/etc/....">
      </div>
    <button class="btn btn-primary">Enviar</button>

</form>
<br><br>

<table class="table table-bordered table-striped">
    <thead>
    <th>ID</th>
    <th>Directorio</th>
    <th>Sha256</th>
    </thead>
    <tbody>
    {% for file in all %}
        <tr>
            <td>{{ file.id }}</td>
            <td>{{ file.path }}</td>
            <td>{{ file.sha256 }}</td>
        </tr>
    {% endfor %}

    </tbody>

</table>
</body>
</html>